<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Review #<%= @review.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Like</dt>
              <dd><%= @review.like %></dd>

              <dt>Rating</dt>
              <dd><%= @review.rating %></dd>

              <dt>Desc</dt>
              <dd><%= @review.desc %></dd>

              <dt>Brew</dt>
              <dd><%= @review.brew_id %></dd>

              <dt>Batch</dt>
              <dd><%= @review.batch_id %></dd>

              <dt>User</dt>
              <dd><%= @review.user_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to reviews_url, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
              <%= link_to edit_review_url(@review.id), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to review_url(@review.id), :method => "delete", :data => { :confirm => "Do you really want to delete this review?" }, :class => "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
